<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Некоторые страны мира</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Некоторые страны мира
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <!--
                    <div class="box">
                        <article class="media">
                            <div class="media-left">

                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Израиль</span>
                                        <br>
                                        <span class="subtitle">Азия</span>
                                        <br> Парламентская республика
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="box">
                        <article class="media">
                            <div class="media-left">

                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Турция</span>
                                        <br>
                                        <span class="subtitle">Азия, Европа</span>
                                        <br> Президентская республика
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    -->
                    {% for c in countries %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-56x42">
                                        <img
                                          src="https://flagcdn.com/56x42/{{ c.c_code }}.png"
                                          width="56"
                                          height="42">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{c.name}}</span>
                                            <br>
                                            <span class="subtitle">{% for cont in c.continents.all %}  {{ cont }} {% endfor %}</span>
                                            <br> {{c.form}}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <a href="admin">Админка</a>
    </footer>
</body>
</html>